extends layout

block main
    h1.page-header= title
    != messages()

    if posts
        each post, i in posts
            .post
                h2
                    a(href='/posts/show/#{post._id}')
                        =post.title
                h5 Posted in #{post.category} by #{post.author} on #{moment(post.date).format('MMMM D, YYYY')}
                =post.body
                a.more(href='/posts/show/#{post._id}') Read More&hellip;

block sidebar
    if categories
        .well
            h4 Categories
            ul.list-unstyled
                each category, i in categories
                    li
                        // TODO: Set link address
                        a(href='#') #{category}
    if archives
        .well
            h4 Archives
            ul.list-unstyled
                each archive, i in archives
                    li
                        // TODO: Set link address
                        a(href='#') #{archive}