extends layout

block main
    h1.page-header= title
    != messages()

    if posts
        each post, i in posts
            .post
                h2
                    a(href='/posts/show/#{post._id}')
                        =post.title
                h5 Posted in #{post.category} by #{post.author} on #{moment(post.date).format('MMMM D, YYYY')}
                img.img-responsive.img-rounded(src='/images/posts/' + post.headlineImage)
                != truncate(post.body, { length: 100, byWords: true })
                a.more(href='/posts/show/#{post._id}') Read More

block sidebar

    .well
        h4 Categories
        ul.list-unstyled
            if categories
                each category, i in categories
                    li
                        // TODO: Set link address
                        a(href='#') #{category}

    .well
        h4 Archives

        if archiveDates && archiveYears
            each year, i in archiveYears
                dl.archive-list
                    dt
                        a(data-toggle='collapse', href='#collapse-' + year) #{year}
                    .collapse(id='collapse-' + year)
                        each archiveDate, j in archiveDates[year]
                            dd
                                // TODO: Set link address
                                a(href='#') #{archiveDate}



